<div class="subject" id="{{id}}">
  <a class="top-link" href="#lens">^</a>
  <div>
    <div>absolutePath: {{absolutePath}}</div>
    <div>childCount: {{childCount}}</div>
    <div>description: {{description}}</div>
    <div>helpEmail: <a href="mailto:{{helpEmail}}">{{helpEmail}}</a></div>
    <div>helpUrl: <a href="{{helpUrl}}">{{helpUrl}}</a></div>
    <div>hierarchyLevel: {{hierarchyLevel}}</div>
    <div>id: {{id}}</div>
    <div>imageUrl: {{imageUrl}}</div>
    <div>isDeleted: {{isDeleted}}</div>
    <div>isPublished: {{isPublished}}</div>
    <div>name: {{name}}</div>
    <div>parentId: {{parentId}}</div>
    <div>parentAbsolutePath: <a href="#{{parentId}}">{{parentAbsolutePath}}</a></div>
    <div>createdBy: {{createdBy.name}}</div>
    <div>createdAt: {{createdAt}}</div>
    <div>updatedAt: {{updatedAt}}</div>

    <div class="{{listClass tags}}">
      <span>tags:</span>
      {{#if tags}}
        <ul>
          {{#each tags}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    <div class="{{listClass relatedLinks}}">
      <span>relatedLinks:</span>
      {{#if relatedLinks}}
        <ul>
          {{#each relatedLinks}}
            <li><a href="{{this.url}}">{{this.name}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    <div class="{{listClass apiLinks}}">
      <span>apiLinks:</span>
      {{#if apiLinks}}
        <ul>
          {{#each apiLinks}}
            <li><a href="{{this.href}}">{{this.method}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    <div class="{{listClass children}}">
      <span>children:</span>
      {{#if children}}
        <ul>
          {{#each children}}
            <li><a href="#{{this.id}}">{{this.name}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

  </div>
  {{#if samples}}
    <div class="samples">
      {{#each samples}}
        <div><a href="#{{this.id}}">{{this.aspect.name}}: {{this.status}}</a></div>
      {{/each}}
    </div>
  {{/if}}
</div>
